{% extends 'base.html' %}

{% block content %}
<div class="password-recovery-page forgot-password">
    <div class="password-recovery-container">
        <h3>نسيت كلمة المرور؟</h3>
        <form method="POST">
            <label for="email">البريد الإلكتروني</label>
            <input type="email" name="email" id="email" required>

            <button type="submit">إرسال</button>
        </form>

        <div class="password-recovery-footer">
            <a href="{{ url_for('login') }}">العودة لتسجيل الدخول</a>
        </div>
    </div>
</div>
{% endblock %}
