{% extends 'base.html' %}

{% block content %}
<div class="password-recovery-page reset-password">
    <div class="password-recovery-container">
        <h3>إعادة تعيين كلمة المرور</h3>
        <form method="POST">
            <label for="password">كلمة المرور الجديدة</label>
            <input type="password" name="password" id="password" required>

            <label for="confirm_password">تأكيد كلمة المرور</label>
            <input type="password" name="confirm_password" id="confirm_password" required>

            <button type="submit">تحديث</button>
        </form>

        <div class="password-recovery-footer">
            <a href="{{ url_for('login') }}">العودة لتسجيل الدخول</a>
        </div>
    </div>
</div>
{% endblock %}
